body {
    font-family: Arial, sans-serif;
    background-color: #f4fdf6;
    margin: 0;
}

.navbar {
    background-color: #198754;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.container {
    margin-top: 20px;
}

.card {
    padding: 15px;
    border-radius: 8px;
}

.btn {
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #198754;
    color: white;
}